$ cat .gitignore

# Can ignore specific files
#.DS_Store

# Use wildcards as well
*~
#*.swp

# Can also ignore all directories and files in a directory.
Domain/node_modules
Domain/node_modules/**/* 
Host/node_modules
Host/node_modules/**/* 
