sudo: false

services:
   - mongodb
   - redis-server
   - elasticsearch
#   - couchdb

language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "6"
  - "8"
  - "10"
  - "12"

branches:
  only:
    - master

notifications:
  email:
    - adriano@raiano.ch
